/*
!/AGENTS.md
!/.antidote
!/.gitignore
!/.gitmodules
!/.profile
!/.skyscraper/config.ini
!/.tmux/plugins/tpm
!/.zsh_plugins.txt
!/.zshrc
!/Brewfile
!/Brewfile.lock.json
!/README.md
!/bin
!/docker
!/flake.lock
!/flake.nix
!/nix
!/Library/Application Support/Trae/User/keybindings.json
!/Library/Application Support/Trae/User/settings.json
!/Library/Application Support/lazygit
!/Library/Application Support/nushell
!/Library/Keyboard Layouts/Engrammer.bundle
!/.config/Code/keybindings.json
!/.config/Code/settings.json
!/.config/DankMaterialShell/firefox.css
!/.config/DankMaterialShell/settings.json
!/.config/aerospace/aerospace.toml
!/.config/btop/btop.conf
!/.config/btop/btop.log
!/.config/btop/themes/catppuccin_macchiato.theme
!/.config/chordgen
!/.config/discord/settings.json
!/.config/ghostty/config
!/.config/git/config
!/.config/hypr/hypridle.conf
!/.config/hypr/hyprland.conf
!/.config/hypr/hyprlock.conf
!/.config/hypr/macchiato.conf
!/.config/k9s/config.yml
!/.config/k9s/skin.yml
!/.config/kitty/current-theme.conf
!/.config/kitty/kitty.conf
!/.config/lazygit/config.yml
!/.config/mimeapps.list
!/.config/mpv/mpv.conf
!/.config/mpv/script-opts/subs2srs.conf
!/.config/mpv/scripts
!/.config/niri/config.kdl
!/.config/niri/dms/alttab.kdl
!/.config/niri/dms/binds.kdl
!/.config/niri/dms/colors.kdl
!/.config/niri/dms/layout.kdl
!/.config/niri/dms/wpblur.kdl
!/.config/niri/noctalia.kdl
!/.config/nix/nix.conf
!/.config/noctalia/colors.json
!/.config/noctalia/gui-settings.json
!/.config/noctalia/plugins.json
!/.config/noctalia/settings.json
!/.config/nushell
!/.config/nvim
!/.config/plex-mpv-shim/conf.json
!/.config/rofi/config.rasi
!/.config/rofi/rofi.theme.rasi
!/.config/starship.toml
!/.config/swaync/config.json
!/.config/swaync/configSchema.json
!/.config/tmux/tmux.conf
!/.config/waybar/config.jsonc
!/.config/waybar/macchiato.css
!/.config/waybar/style.css
!/.config/xdg-desktop-portal/niri-portals.conf
!/.config/yazi/keymap.toml
!/.config/yazi/plugins/compress.yazi
!/.config/yazi/yazi.toml
!/.config/zed/keymap.json
!/.config/zed/settings.json
