/*
!.antidote
!.gitignore
!.gitmodules
!.profile
!.skyscraper/config.ini
!.tmux/plugins/tpm
!.zsh_plugins.txt
!.zshrc
!Brewfile
!Brewfile.lock.json
!README.md
!bin
!docker
!flake.lock
!flake.nix
!nix
!Library/Application Support/Trae/User/keybindings.json
!Library/Application Support/Trae/User/settings.json
!Library/Application Support/lazygit
!Library/Application Support/nushell
!Library/Keyboard Layouts/Engrammer.bundle
!.config/Code/keybindings.json
!.config/Code/settings.json
!.config/DankMaterialShell/firefox.css
!.config/DankMaterialShell/settings.json
!.config/aerospace/aerospace.toml
!.config/btop/btop.conf
!.config/btop/btop.log
!.config/btop/themes/catppuccin_macchiato.theme
!.config/chordgen
!.config/discord/settings.json
!.config/ghostty/config
!.config/git/config
!.config/hypr/hypridle.conf
!.config/hypr/hyprland.conf
!.config/hypr/hyprlock.conf
!.config/hypr/macchiato.conf
!.config/k9s/config.yml
!.config/k9s/skin.yml
!.config/kitty/current-theme.conf
!.config/kitty/kitty.conf
!.config/lazygit/config.yml
!.config/mimeapps.list
!.config/mpv/mpv.conf
!.config/mpv/script-opts/subs2srs.conf
!.config/mpv/scripts
!.config/niri/config.kdl
!.config/niri/dms/alttab.kdl
!.config/niri/dms/binds.kdl
!.config/niri/dms/colors.kdl
!.config/niri/dms/layout.kdl
!.config/niri/dms/wpblur.kdl
!.config/niri/noctalia.kdl
!.config/nix/nix.conf
!.config/noctalia/colors.json
!.config/noctalia/gui-settings.json
!.config/noctalia/plugins.json
!.config/noctalia/settings.json
!.config/nushell/completions/git-completions.nu
!.config/nushell/config.nu
!.config/nushell/env.nu
!.config/nushell/scripts/catppuccin-macchiato.nu
!.config/nvim-old/.gitignore
!.config/nvim-old/.neoconf.json
!.config/nvim-old/LICENSE
!.config/nvim-old/README.md
!.config/nvim-old/colors/dms.lua
!.config/nvim-old/ftplugin/go.lua
!.config/nvim-old/ftplugin/markdown.lua
!.config/nvim-old/ftplugin/tsv.lua
!.config/nvim-old/init.lua
!.config/nvim-old/lazy-lock.json
!.config/nvim-old/lazyvim.json
!.config/nvim-old/lua/config/autocmds.lua
!.config/nvim-old/lua/config/keymaps.lua
!.config/nvim-old/lua/config/lazy.lua
!.config/nvim-old/lua/config/options.lua
!.config/nvim-old/lua/lualine/themes/dms.lua
!.config/nvim-old/lua/plugins/colorscheme.lua
!.config/nvim-old/lua/plugins/dankcolors.lua
!.config/nvim-old/lua/plugins/example.lua
!.config/nvim-old/lua/plugins/mason.lua
!.config/nvim-old/lua/plugins/nvim-tmux-navigation.lua
!.config/nvim-old/lua/plugins/snacks.lua
!.config/nvim-old/queries/nix/injections.scm
!.config/nvim-old/stylua.toml
!.config/nvim.bak/.gitignore
!.config/nvim.bak/.neoconf.json
!.config/nvim.bak/LICENSE
!.config/nvim.bak/README.md
!.config/nvim.bak/init.lua
!.config/nvim.bak/lazy-lock.json
!.config/nvim.bak/lazyvim.json
!.config/nvim.bak/lua/config/autocmds.lua
!.config/nvim.bak/lua/config/keymaps.lua
!.config/nvim.bak/lua/config/lazy.lua
!.config/nvim.bak/lua/config/options.lua
!.config/nvim.bak/lua/plugins/colorscheme.lua
!.config/nvim.bak/lua/plugins/example.lua
!.config/nvim.bak/lua/plugins/plugins.lua
!.config/nvim.bak/stylua.toml
!.config/nvim/after/ftplugin/markdown.lua
!.config/nvim/after/lsp/lua_ls.lua
!.config/nvim/after/snippets/lua.json
!.config/nvim/init.lua
!.config/nvim/nvim-pack-lock.json
!.config/nvim/plugin/10_options.lua
!.config/nvim/plugin/20_keymaps.lua
!.config/nvim/plugin/30_mini.lua
!.config/nvim/plugin/40_plugins.lua
!.config/nvim/snippets/global.json
!.config/plex-mpv-shim/conf.json
!.config/rofi/config.rasi
!.config/rofi/rofi.theme.rasi
!.config/starship.toml
!.config/swaync/config.json
!.config/swaync/configSchema.json
!.config/tmux/tmux.conf
!.config/waybar/config.jsonc
!.config/waybar/macchiato.css
!.config/waybar/style.css
!.config/xdg-desktop-portal/niri-portals.conf
!.config/yazi/keymap.toml
!.config/yazi/plugins/compress.yazi
!.config/yazi/yazi.toml
!.config/zed/keymap.json
!.config/zed/settings.json
