[submodule ".antidote"]
	path = .antidote
	url = https://github.com/mattmc3/antidote
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/yazi/plugins/compress.yazi"]
	path = .config/yazi/plugins/compress.yazi
	url = https://github.com/KKV9/compress.yazi.git
