binds {
    // https://docs.noctalia.dev/noctalia/ipc/
    // https://github.com/niri-wm/niri/wiki/Configuration:-Key-Bindings

    Mod+Shift+ESCAPE                     { show-hotkey-overlay; }

    // --- Noctalia ---
    Mod+Shift+Return                    hotkey-overlay-title="Open Wallpaper Selector: noctalia wallpaper toggle" { spawn-sh "noctalia msg panel-toggle wallpaper"; }
    Mod+S                               hotkey-overlay-title="Open Control Center: noctalia controlCenter" { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Shift+S                         hotkey-overlay-title="Open Settings: noctalia settings" { spawn-sh "noctalia msg settings-toggle"; }
    Mod+CTRL+Return                     hotkey-overlay-title="Open App Launcher: noctalia launcher" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+ALT+L                           hotkey-overlay-title="Lock Screen: noctalia lock" { spawn-sh "noctalia msg session lock"; }
    Mod+Shift+Q                         hotkey-overlay-title="Session Menu: noctalia sessionMenu" { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+P { spawn "noctalia" "msg" "panel-toggle" "session"; }

    // ─── Media Controls ───
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "noctalia msg volume-mute"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn-sh "noctalia msg mic-mute"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "noctalia msg media next"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "noctalia msg media previous"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "noctalia msg media toggle"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "noctalia msg media toggle"; }

    // ─── Brightness Controls ───
    XF86MonBrightnessUp                 allow-when-locked=true { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown               allow-when-locked=true { spawn-sh "noctalia msg brightness-down"; }

}
